*, *::after, *::before {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F1F1F1;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: rgba(0,0,0,.6);
    line-height: 1.3;
}

a {
    color: inherit;
    text-decoration: none;
}

.topbar {
    background: #2C3E50;
    color: #FFF;
}

.topbar-logo {
    display: block;
    text-align: center;
    font-size: 24px;
    padding: 11px 0;
}

.topbar-nav {
    text-align: center;
    padding-bottom: 16px;
    line-height: 2;
}

.topbar-nav a {
    display: inline-block;
    margin: 0 12px;
    color: rgba(255,255,255,.67);
    -webkit-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s;
}

.topbar-nav a:hover,
.topbar-nav a.active {
    color: #FFF;
}

.container {
    padding: 0 15px;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

.site {
    margin-top: 20px;
    margin-bottom: 20px;
}

.sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 20px;
}

.profile {
    display: none;
}

.main {
    margin-bottom: 20px;
}

.sidebar a {
    display: block;
    width: 50%;
    padding: .6em 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    border: 1px solid transparent;
    padding-left: 10px;
}

.sidebar a::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin-top: -2px;
    margin-right: 20px;
    opacity: .67;
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
    background: url('../icons/home.svg') center center / contain no-repeat;
}

.sidebar .sidebar-messages::before {
    background: url('../icons/messages.svg') center center / contain no-repeat;
}

.sidebar .sidebar-events::before {
    background: url('../icons/events.svg') center center / contain no-repeat;
}

.sidebar .sidebar-groups::before {
    background: url('../icons/groups.svg') center center / contain no-repeat;
}

.sidebar a:hover,
.sidebar a.active {
    color: #000;
    border: 1px solid #DBDBDB;
    background-color: #FFF;
    border-radius: 3px;
    font-weight: 700;
}

.sidebar a:hover::before,
.sidebar a.active::before {
    opacity: 1;
}

.card {
    border: 1px solid #DBDBDB;
    background: #FFF;
    border-radius: 3px;
    margin-bottom: 15px;
}

.card:last-child {
    margin-bottom: 0;
}

.card-header {
    padding: 10px;
    position: relative;
}

.card-header-avatar {
    padding-left: 65px; 
}

.card-avatar {
    border-radius: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 10px;
}

.card-title {
    font-weight: bold;
    font-size: 18px;
    color: #000;
    padding: 0;
    margin: 0 0 5px 0;
    margin-bottom: 5px;
}

.card-date {
    color: rgba(0,0,0,.38);
    font-size: 12px;
}

.card-body {
    padding: 0 10px 20px 10px;
}

.card-body .full-width {
    width: calc(100% + 20px);
    display: block;
    margin-left: -10px;
    margin-right: -10px;
}

.card-body p:first-child {
    margin-top: 0;
}

.card-body p:last-child {
    margin-bottom: 0;
}

.card-footer {
    border-top: 1px solid #DBDBDB;
    background: #FBFBFB;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    font-size: 12px;
    color: #BDBDBD;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.card-footer a {
    -webkit-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s;
}

.card-footer a:hover {
    color: rgba(0,0,0,.6);
}

.card-like::before,
.card-comments::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 18px;
    vertical-align: middle;
    margin-right: 5px;
    background: url('../icons/like.svg') center center / contain no-repeat;
}

.card-comments::before {
    background: url('../icons/comment.svg') center center / contain no-repeat;
}

.sidebar-title {
    margin-top: 30px;
    margin-bottom: 18px;
    color: #000;
    font-size: 15px;
    font-weight: 700;
}

.sidebar-title::after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    margin-top: 4px;
    background: #000;
}

.friend {
    margin: 14px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.friend-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.friend-avatar {
    width: 73px;
    height: 73px;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    margin-right: 10px;
}

.friend-name {
    display: block;
    font-weight: 700;
    color: #000;
    font-size: 15px;
    margin-bottom: 5px;
}

.friend-connections {
    color: rgba(0,0,0,.38);
    font-size: 12px;
}

.friend-add {
    font-size: 12px;
    color: #000;
    margin-top: auto;
}

.friend-add::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 12px;
    -webkit-transform: translateY(-1px);
        -ms-transform: translateY(-1px);
            transform: translateY(-1px);
    background: url('../icons/useradd.svg') center center / 18px 13px no-repeat;
    vertical-align: middle;
    margin-right: 5px;
}

@media only screen and (min-width: 520px) {
    .topbar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 64px;
        padding: 0 25px;
    }

    .topbar-nav,
    .topbar-logo {
        padding: 0;
    }

    .topbar-nav a {
        margin: 0 20px;
    }
}

@media only screen and (min-width: 950px) {
    .site {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .profile {
        display: block;
    }

    .sidebar {
        display: block;
        -webkit-box-flex: 0;
            -ms-flex: none;
                flex: none;
        width: 180px;
    }

    .sidebar a {
        width: 100%;
    }

    .main {
        width: 100%;
        margin-left: 30px;
        margin-right: 30px;
    }

    .aside {
        -webkit-box-flex: 0;
            -ms-flex: none;
                flex: none;
        width: 310px;
    }
}